<!DOCTYPE html>
<html>

<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>衣享 - AI 引领时尚未来</title>

    <meta name="keywords" content="AI,Fashion,衣享,FashionAI,时尚,智能时尚,人工智能,智能试衣镜,虚拟试衣,以图搜图,智能标签,自动打标,图像识别,搭配推荐,服饰标签">
    <meta name="description" content="衣享，用 AI 赋能 Fashion，为时尚行业提供一站式人工智能技术与数据服务。凭借顶尖的人工智能算法和长期积累的海量行业数据，打造 FashionAI，专注人工智能在时尚领域的应用落地。">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.衣享.com/favicon.ico">

    <!-- CSS Global -->

    <link rel="stylesheet" href="static/css/bootstrap.css">

    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="static/css/animate.min.css">

    <link rel="stylesheet" href="static/css/front.css">


    <!-- CSS Local -->

    <link rel="stylesheet" href="static/css/hs.megamenu.css">

    <link rel="stylesheet" href="static/css/slick.css">


    <!-- Script Global -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?2db4eef04ece0a6fdc5e905ba90fd627";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>



<body>

    <!-- Skippy -->
    <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
        <div class="container">
            <span class="u-skiplink-text">Skip to main content</span>
        </div>
    </a>
    <!-- End Skippy -->

    <!-- ========== HEADER ========== -->
    <header id="header" class="u-header u-header--abs-top u-header--bg-transparent u-header--white-nav-links-md u-header--show-hide" data-header-fix-moment="500" data-header-fix-effect="slide">
        <div class="u-header__section">
            <div id="logoAndNav" class="container">
                <!-- Nav -->
                <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
                    <!-- Logo -->
                    <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="" aria-label="Front">
                        <img class="u-header__navbar-brand-default" src="static/picture/logo-white.png" alt="Logo">
                        <img class="u-header__navbar-brand-on-scroll" src="static/picture/logo.png" alt="Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span id="hamburgerTrigger" class="u-hamburger__box">
                            <span class="u-hamburger__inner"></span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Navigation -->
                    <div id="navBar" class="collapse navbar-collapse py-0">
                        <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
                            <!-- Home -->
                            <li class="nav-item">
                                <a class="nav-link u-header__nav-link" href="">
                                    首页
                                </a>
                            </li>

                            <!-- End Home -->

                            <!-- Solutions -->
                            <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="left">
                                <a id="homeMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                                    解决方案
                                    <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                                </a>

                                <!-- Solutions - Mega Menu -->
                                <div class="hs-mega-menu u-header__sub-menu w-100 u-header__mega-menu-wrapper-v2" aria-labelledby="homeMegaMenu">
                                    <div class="row p-0 mr-0">
                                        <div class="col-lg-6 pr-0">
                                            <!-- Banner Image -->
                                            <div class="d-none d-lg-block u-header__banner-v1" data-bg-img-src="/assets/img/750x750/img1.jpg">
                                                <div class="w-100 text-center u-header__banner-v1-content u-content-centered-y p-4">
                                                    <div class="mb-4">
                                                        <strong class="d-block u-header__banner-v1-title mb-2">AI + Fashion</strong>
                                                        <span class="u-header__banner-v1-text">衣享 为时尚行业各个领域提供一站式 AI 技术服务</span>
                                                    </div>
                                                    <a class="btn btn-primary u-btn-primary btn-sm transition-3d-hover" href="solutions.html">了解更多<span class="fa fa-angle-right ml-2"></span></a>
                                                </div>
                                            </div>
                                            <!-- End Banner Image -->
                                        </div>

                                        <div class="col-lg-6 u-header__mega-menu-wrapper-v3">
                                            <div class="row u-header__mega-menu-wrapper-v1">
                                                <div class="col-sm-6">
                                                    <a class="text-dark" href="e-commerce.html"><strong class="d-block mb-2">服饰电商</strong></a>

                                                    <!-- Links -->
                                                    <ul class="list-unstyled mb-4">
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="e-commerce.html#visual-search-recommendation-and-personalization">基于视觉的搜索、推荐与个性化</a></li>
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="e-commerce.html#effective-product-content-management">电商后台智能运营</a></li>
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="e-commerce.html#ugc-tagging">UGC 评分与标注</a></li>
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="e-commerce.html#smart-inventory-management">智能库存管理</a></li>
                                                    </ul>
                                                    <!-- End Links -->

                                                    <a class="text-dark" href="content-and-media.html"><strong class="d-block mb-2">时尚内容媒体</strong></a>

                                                    <!-- Links -->
                                                    <ul class="list-unstyled mb-4">
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="content-and-media.html#smart-media">智能媒体</a></li>
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="content-and-media.html#content-marketing">基于视觉的内容营销</a></li>
                                                    </ul>
                                                    <!-- End Links -->
                                                </div>

                                                <div class="col-sm-6">
                                                    <a class="text-dark" href="offline-retail.html"><strong class="d-block mb-2">线下服装零售</strong></a>

                                                    <!-- Links -->
                                                    <ul class="list-unstyled mb-4">
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="offline-retail.html#personal-stylist-assistant">个性化推荐与导购</a></li>
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="offline-retail.html#smart-dressing-mirror">智能试衣 <span class="badge badge-success ml-1">New</span></a></li>
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="offline-retail.html#customer-insight">时尚客流统计</a></li>
                                                    </ul>
                                                    <!-- End Links -->

                                                    <a class="text-dark" href="designer-and-editor.html"><strong class="d-block mb-2">时尚设计与编辑</strong></a>

                                                    <!-- Links -->
                                                    <ul class="list-unstyled mb-4">
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="designer-and-editor.html#fashion-search-engine">时尚搜索引擎 <span class="badge badge-success ml-1">New</span></a></li>
                                                        <li><a class="nav-link u-list__link py-2 px-0" href="designer-and-editor.html#fashion-business-intelligence">时尚潮流 BI</a></li>
                                                    </ul>
                                                    <!-- End Links -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Solutions - Mega Menu -->
                            </li>
                            <!-- End Solutions -->

                            <!-- Technologies -->
                            <li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut" data-position="right">
                                <a id="worksMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                                    核心技术
                                    <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                                </a>

                                <!-- Works - Mega Menu -->
                                <div class="hs-mega-menu w-100 u-header__sub-menu u-header__mega-menu-wrapper-v1" aria-labelledby="worksMegaMenu">
                                    <div class="row">

                                        <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                                            <strong class="d-block mb-2">大数据</strong>

                                            <!-- Links -->
                                            <ul class="list-unstyled u-list">
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-search-engine.html">时尚搜索引擎</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-trend-analysis.html">时尚趋势分析</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-visual-popularity-analysis.html">服饰视觉潮流分析</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </div>
                                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                                            <strong class="d-block mb-2">图像 & 视觉</strong>

                                            <!-- Links -->
                                            <ul class="list-unstyled u-list">
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-detection-segmentation-and-recognition.html">服饰检测、分割与识别</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-attribute-analysis.html">服饰时尚属性分析</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-naming-and-caption.html">服饰命名和描述生成</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-recommendation-and-search.html">服饰相似搜索和搭配推荐</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-OCR.html">服饰标签票据 OCR</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </div>

                                        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                                            <strong class="d-block mb-2">语言 & 交互</strong>

                                            <!-- Links -->
                                            <ul class="list-unstyled u-list">
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-machine-translation.html">时尚领域机器翻译</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-voice-assistant.html">时尚语音交互助手</a></li>
                                                <li><a class="nav-link u-list__link py-2 px-0" href="fashion-knowledge-graph.html">时尚知识库</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </div>


                                        <div class="col-sm-6 col-lg-3">
                                            <strong class="d-block mb-2">硬件 & 终端</strong>

                                            <!-- Links -->
                                            <ul class="list-unstyled u-list">
                                                <li><a class="nav-link u-list__link py-2 px-0" href="tx2-4k.html">基于 TX2 的硬件方案</a></li>
                                            </ul>
                                            <!-- End Links -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Technologies - Mega Menu -->
                            </li>
                            <!-- End Technologies -->

                            <!-- Demo -->
                            <li class="nav-item">
                                <a class="nav-link u-header__nav-link" href="demo.html">
                                    功能演示
                                </a>
                            </li>
                            <!-- End Demo -->

                            <!-- Blog -->
                            <!-- <li class="nav-item">
                            <a class="nav-link u-header__nav-link" href="/news.html">
                                新闻中心
                            </a>
                        </li> -->
                            <!-- End Blog -->

                            <!-- About - Link -->
                            <li class="nav-item">
                                <a class="nav-link u-header__nav-link" href="about-us.html">
                                    关于我们
                                </a>
                            </li>
                            <!-- End About - Link -->
                            <!-- <li class="nav-item">
                            <a class="nav-link u-header__nav-link" href="https://console.衣享.com/">
                                开放平台
                            </a>
                        </li> -->
                            <!-- Button -->
                            <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                                <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="https://jinshuju.net/f/WaGw3d?x_field_1=衣享" target="_blank">
                                    申请试用
                                </a>
                            </li>
                            <!-- End Button -->
                        </ul>
                    </div>
                    <!-- End Navigation -->
                </nav>
                <!-- End Nav -->
            </div>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Hero Section -->
        <div class="position-relative">
            <div class="u-bg-img-hero" style="background-image: url(static/image/img20.png);">
                <div class="container">
                    <!-- Hero Carousel -->
                    <div class="d-flex align-items-center u-space-4 u-space-0--lg min-height-100vh--lg" data-infinite="true" data-autoplay="true" data-speed="7000" data-fade="true">
                        <div class="text-center u-space-2-top w-lg-80 mx-auto">
                            <div class="mb-7">
                                <h1 class="text-white font-weight-normal">AI 引领时尚未来</h1>
                                <h5 class="u-text-light font-weight-normal mb-7 animated fadeInUp">衣享，用 AI 赋能时尚，为时尚行业提供一站式人工智能技术与数据服务</h5>
                            </div>

                            <a class="btn btn-primary u-btn-primary u-btn-wide u-btn-pill transition-3d-hover" href="#" onclick="navToTrail()">
                                申请试用
                            </a>
                        </div>
                    </div>
                    <!-- End Hero Carousel -->
                </div>
            </div>

            <!-- SVG Background -->
            <figure class="position-absolute-bottom-0">
                <svg preserveaspectratio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewbox="20 -20 300 100">
                    <path class="u-fill-white" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
                    <path class="u-fill-white" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
                    <path class="u-fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z"></path>
                    <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
                </svg>
            </figure>
            <!-- End SVG Background Section -->
        </div>
        <!-- End Hero Section -->

        <!-- AI+Fashion Section -->
        <div id="firstSection" class="container">
            <div class="row u-space-3-top u-space-1-bottom">
                <div class="col-lg-4 mb-7 mb-lg-0">
                    <!-- Title -->
                    <div class="pr-lg-4 mb-7">
                        <span class="u-label u-label--sm u-label--primary mb-2">AI + Fashion</span>
                        <h2 class="font-weight-normal">更懂时尚的 AI</h2>
                        <p>我们倾力打造更懂时尚的 AI，以算法和数据为驱动，教会 AI 感知人与服饰、理解时尚语义、预测时尚潮流，最终训练出“能说”、“会看”、“懂时尚”的人工智能。</p>
                    </div>
                    <!-- End Title -->
                </div>

                <div class="col-lg-8">
                    <div id="paginationModernNav" class="js-slick-carousel u-slick mb-2" data-infinite="true" data-autoplay="true" data-speed="5000" data-fade="true" data-nav-for="#paginationModernThumb" data-arrows-classes="u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle" data-arrow-left-classes="fa fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-2 ml-xl-4" data-arrow-right-classes="fa fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-2 mr-xl-4">
                        <div class="js-slide">
                            <img class="img-fluid" src="static/picture/看@1x.png" alt="_">
                        </div>
                        <div class="js-slide">
                            <img class="img-fluid" src="static/picture/说@1x.png" alt="_">
                        </div>
                        <div class="js-slide">
                            <img class="img-fluid" src="static/picture/懂@1x.png" alt="_">
                        </div>
                    </div>

                    <div id="paginationModernThumb" class="js-slick-carousel u-slick u-slick--pagination-modern u-slick--transform-off mx-auto" data-infinite="true" data-autoplay="true" data-speed="5000" data-center-mode="true" data-slides-show="3" data-is-thumbs="true" data-focus-on-select="true" data-nav-for="#paginationModernNav">
                        <div class="js-slide">
                            <img class="u-avatar rounded-circle mx-auto" src="static/picture/img56.jpg" alt="Image Description">
                        </div>
                        <div class="js-slide">
                            <img class="u-avatar rounded-circle mx-auto" src="static/picture/img57.jpg" alt="Image Description">
                        </div>
                        <div class="js-slide">
                            <img class="u-avatar rounded-circle mx-auto" src="static/picture/img58.jpg" alt="Image Description">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End AI+Fashion Section -->

        <!-- functions Section -->
        <div class="position-relative">
            <div class="u-space-3-top u-space-2-bottom container">
                <div class="w-md-80 w-lg-56 text-center mx-auto mb-9">
                    <a class="js-go-to u-go-to-ver-arrow" href="javascript:;" data-target="#applicationSection" data-compensation="#header" data-type="static" style="display: inline-block;">
                        <span class="fa fa-long-arrow-alt-down u-go-to-ver-arrow__inner"></span>
                    </a>
                    <div id="applicationSection" class="pt-7">
                        <h2 class="font-weight-normal">核心功能展现</h2>
                        <p>我们落地了先进AI技术与目标市场深度融合的产品功能为服饰品牌插上行业领先的翅膀</p>
                    </div>
                </div>
                <div class="fd-example">
                    <div class="u-space-2">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 mb-7 mb-lg-0">
                                <div class="pr-lg-4">
                                    <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                                        <span class="small font-weight-bold u-icon__inner">01.</span>
                                    </span>
                                    <h2 class="h4 text-primary"><strong>智能标签</strong></h2>
                                    <p class="mb-4">衣享可根据用户上传的不同种类图片，快速检测并定位所有服饰并呈现出每件服饰的类别、高精度边框及像素级图像分割，自动识别出如领形、袖形、风格、纹理、适用人群、材质、水洗方式、尺码等商品属性信息；还可帮助电商或图片类平台完成对图片素材的自动化归档管理。</p>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <img class="img-fluid" src="static/picture/func1.png" alt="SVG Illustration">
                            </div>
                        </div>
                    </div>

                    <div class="u-space-2">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                                <div class="pl-lg-4">
                                    <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                                        <span class="small font-weight-bold u-icon__inner">02.</span>
                                    </span>
                                    <h2 class="h4 text-primary"><strong>以图搜图</strong></h2>
                                    <p class="mb-4">根据用户上传的图片或视频，衣享在完成对图片服饰的视觉时尚语义理解及智能化图文解析后，即可快速搜索到同款或相似款服饰商品图片，做到所见即所得。该技术可为服饰电商、内容媒体、时尚行业等带来增长助力。</p>
                                </div>
                            </div>

                            <div class="col-lg-7 order-lg-1 mb-7 mb-lg-0">
                                <img class="img-fluid" src="static/picture/func2.png">
                            </div>
                        </div>
                    </div>

                    <div class="u-space-2">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 mb-7 mb-lg-0">
                                <div class="pr-lg-4">
                                    <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                                        <span class="small font-weight-bold u-icon__inner">03.</span>
                                    </span>
                                    <h2 class="h4 text-primary"><strong>搭配推荐</strong></h2>
                                    <p class="mb-4">基于海量时尚数据库和AI技术的支持，衣享能够理解图片呈现的服饰视觉时尚语义，并快速在指定数据集中检索出最优的相似或搭配条目，为用户提供最时尚、最潮流的穿搭推荐，帮助服饰电商和内容社区平台为用户提供专业且个性化的穿衣搭配方案。
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-7 mb-7 mb-lg-0">
                                <img class="img-fluid" src="static/picture/func3.png" alt="SVG Illustration">
                            </div>
                        </div>
                    </div>


                    <div class="u-space-2">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                                <div class="pl-lg-4">
                                    <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                                        <span class="small font-weight-bold u-icon__inner">04.</span>
                                    </span>
                                    <h2 class="h4 text-primary"><strong>时尚趋势分析</strong></h2>
                                    <p class="mb-4">依托长期积累的时尚领域海量数据，衣享可按照不同时间粒度进行趋势解析，支持服饰属性、类别、品牌等多维度计算，可实时完成对时尚趋势的精准解读与流行方向的专业分析，赋能设计师、零售商、品牌和制造商制定更明智的商业决策。
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-7 order-lg-1 mb-7 mb-lg-0">
                                <img class="img-fluid" src="static/picture/func4.png">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <figure class="position-absolute-bottom-0">
                <svg preserveaspectratio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewbox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
                    <path class="u-fill-white" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
                    <path class="u-fill-white" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
                    <path class="u-fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z"></path>
                    <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
                </svg>
            </figure>
        </div>
        <!-- End functions Section -->


        <!-- Application Section -->
        <div class="position-relative">
            <div class="u-space-3-top u-space-2-bottom container">
                <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
                    <a class="js-go-to u-go-to-ver-arrow" href="javascript:;" data-target="#applicationSection" data-compensation="#header" data-type="static" style="display: inline-block;">
                        <span class="fa fa-long-arrow-alt-down u-go-to-ver-arrow__inner"></span>
                    </a>
                    <div id="applicationSection" class="pt-7">
                        <h2 class="font-weight-normal">典型应用场景</h2>
                        <p>我们为时尚行业各个环节提供定制化的一站式、一键接入的智能化解决方案</p>
                    </div>
                </div>
                <div class="fd-example">
                    <div class="u-space-2">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 mb-7 mb-lg-0">
                                <div class="pr-lg-4">
                                    <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                                        <span class="small font-weight-bold u-icon__inner">01.</span>
                                    </span>
                                    <h2 class="h4 text-primary"><strong>服饰电商</strong></h2>
                                    <p class="mb-4">我们为服饰类电商平台提供包括拍照购物、搭配推荐、用户个性化和智能运营在内的电商智能化解决方案。帮助电商平台有效提升用户购衣体验，提高店铺转化率和客单价；实现平台智能化运营，降低人力成本的同时提高运营效率。</p>
                                    <a class="btn btn-primary u-btn-primary u-btn-wide u-btn-pill transition-3d-hover mr-1 mb-2" href="e-commerce.html">了解更多</a>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <img class="img-fluid" src="static/picture/img611.png" alt="SVG Illustration">
                            </div>
                        </div>
                    </div>

                    <div class="u-space-2">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                                <div class="pl-lg-4">
                                    <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                                        <span class="small font-weight-bold u-icon__inner">02.</span>
                                    </span>
                                    <h2 class="h4 text-primary"><strong>内容媒体</strong></h2>
                                    <p class="mb-4">我们帮助内容媒体对其产出的时尚图片、短视频等进行智能分析和时尚语义追加，让这些时尚富媒体可以被轻松的检索、关联和推荐。一方面，通过精准的时尚视觉搜索和推荐，可以有效提升平台用户粘性和留存；另一方面，智能化的电商营销，为用户带来更好的购物体验，为企业带来更多的用户流量，为内容媒体开辟新的盈利渠道。</p>
                                    <a class="btn btn-primary u-btn-primary u-btn-wide u-btn-pill transition-3d-hover mr-1 mb-2" href="content-and-media.html">了解更多</a>
                                </div>
                            </div>

                            <div class="col-lg-7 order-lg-1 mb-7 mb-lg-0">
                                <img class="img-fluid" src="static/picture/img624.png">
                            </div>
                        </div>
                    </div>

                    <div class="u-space-2-top u-space-3-bottom">
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5 mb-7 mb-lg-0">
                                <div class="pr-lg-4">
                                    <span class="u-icon u-icon-primary--air rounded-circle mb-3">
                                        <span class="small font-weight-bold u-icon__inner">03.</span>
                                    </span>
                                    <h2 class="h4 text-primary"><strong>线下服装零售</strong></h2>
                                    <p class="mb-4">我们为线下服装零售提供包括智能硬件、软件开发和云平台在内的一体化解决方案，从而为门店客户提供个性化推荐、智能搭配和一键购衣等服务。通过线上智能化与线下体验式相结合，为消费者带来全新购衣体验，在提高品牌认知度的同时，有效提升转化率和复购率。</p>
                                    <a class="btn btn-primary u-btn-primary u-btn-wide u-btn-pill transition-3d-hover mr-1 mb-2" href="offline-retail.html">了解更多</a>
                                </div>
                            </div>

                            <div class="col-lg-7 mb-7 mb-lg-0">
                                <img class="img-fluid" src="static/picture/img631.png" alt="SVG Illustration">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <figure class="position-absolute-bottom-0">
                <svg preserveaspectratio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewbox="20 -20 300 100" style="margin-bottom: -8px;" xml:space="preserve">
                    <path class="u-fill-white" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
          c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z"></path>
                    <path class="u-fill-white" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
          c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z"></path>
                    <path class="u-fill-white" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
          H42.401L43.415,98.342z"></path>
                    <path class="u-fill-white" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
          c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z"></path>
                </svg>
            </figure>
        </div>
        <!-- End Application Section -->

        <!-- Partners Section -->
        <div class="container u-space-3">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
                <h2 class="font-weight-normal">合作伙伴</h2>
                <p>我们与学术界、产业界的诸多优秀企业建立了长期深度的合作关系，通过站在巨人的肩膀上前行，在技术与产品研发等多领域取得了实质性进展。</p>
            </div>
            <!-- End Title -->

            <div class="card-group d-block d-lg-flex u-card--gutters-2-lg">
                <div class="card bg-transparent border-0 mb-3">
                    <!-- Job Listing -->
                    <a class="card-body u-info-v2 bg-white rounded transition-3d-hover p-4" href="javascript:;">
                        <div class="media">
                            <div class="d-flex">
                                <img class="u-avatar rounded" src="static/picture/img51.png" alt="Image Description">
                            </div>
                            <div class="media-body px-4">
                                <h4 class="h6 text-dark mb-1">清华大学</h4>
                                <small class="d-block text-muted">与清华大学计算机系人工智能实验室成立联合项目组，发力 AI 创新研发。</small>
                            </div>
                        </div>
                    </a>
                    <!-- End Job Listing -->
                </div>

                <div class="card bg-transparent border-0 mb-3">
                    <!-- Job Listing -->
                    <a class="card-body u-info-v2 bg-white rounded transition-3d-hover p-4" href="javascript:;">
                        <div class="media">
                            <div class="d-flex">
                                <img class="u-avatar rounded" src="static/picture/img52.png" alt="Image Description">
                            </div>
                            <div class="media-body px-4">
                                <h4 class="h6 text-dark mb-1">中科院网络信息中心</h4>
                                <small class="d-block text-muted">与中科院网络信息中心共建人工智能开放平台，夯实计算基础架构。</small>
                            </div>
                        </div>
                    </a>
                    <!-- End Job Listing -->
                </div>

                <div class="card bg-transparent border-0 mb-3">
                    <!-- Job Listing -->
                    <a class="card-body u-info-v2 bg-white rounded transition-3d-hover p-4" href="javascript:;">
                        <div class="media">
                            <div class="d-flex">
                                <img class="u-avatar rounded" src="static/picture/img53.png" alt="Image Description">
                            </div>
                            <div class="media-body px-4">
                                <h4 class="h6 text-dark mb-1">启迪控股</h4>
                                <small class="d-block text-muted">依托启迪全国孵化器网络，提升商务能力，开拓客户资源。</small>
                            </div>
                        </div>
                    </a>
                    <!-- End Job Listing -->
                </div>
            </div>

            <div class="card-group d-block d-lg-flex u-card--gutters-2-lg mb-9">
                <div class="card bg-transparent border-0 mb-3">
                    <!-- Job Listing -->
                    <a class="card-body u-info-v2 bg-white rounded transition-3d-hover p-4" href="javascript:;">
                        <div class="media">
                            <div class="d-flex">
                                <img class="u-avatar rounded" src="static/picture/img54.png" alt="Image Description">
                            </div>
                            <div class="media-body px-4">
                                <h4 class="h6 text-dark mb-1">微软孵化器</h4>
                                <small class="d-block text-muted">依托微软孵化器，加速 AI 在时尚行业的应用落地。</small>
                            </div>
                        </div>
                    </a>
                    <!-- End Job Listing -->
                </div>

                <div class="card bg-transparent border-0 mb-3">
                    <!-- Job Listing -->
                    <a class="card-body u-info-v2 bg-white rounded transition-3d-hover p-4" href="javascript:;">
                        <div class="media">
                            <div class="d-flex">
                                <img class="u-avatar rounded" src="static/picture/img55.png" alt="Image Description">
                            </div>
                            <div class="media-body px-4">
                                <h4 class="h6 text-dark mb-1">NVIDIA</h4>
                                <small class="d-block text-muted">与英伟达建立长期合作伙伴关系，为客户提供专业级硬件解决方案。</small>
                            </div>
                        </div>
                    </a>
                    <!-- End Job Listing -->
                </div>

                <div class="card bg-transparent border-0 mb-3">
                    <!-- Job Listing -->
                    <a class="card-body u-info-v2 bg-white rounded transition-3d-hover p-4" href="javascript:;">
                        <div class="media">
                            <div class="d-flex">
                                <img class="u-avatar rounded" src="static/picture/img56.png" alt="Image Description">
                            </div>
                            <div class="media-body px-4">
                                <h4 class="h6 text-dark mb-1">亚马逊 AWS</h4>
                                <small class="d-block text-muted">与亚马逊中国云建立合作伙伴关系，提供安全可靠的线上 API 服务。</small>
                            </div>
                        </div>
                    </a>
                    <!-- End Job Listing -->
                </div>
            </div>
        </div>
        <!-- End Partners Section -->

        <!-- Testimonials -->
        <div class="u-gradient-half-primary-v1">
            <div class="u-bg-img-hero" style="background-image: url(static/image/bg2.svg);">
                <div class="container u-space-3">
                    <!-- Title -->
                    <div class="text-center mb-4">
                        <!-- SVG Quote -->
                        <figure class="mx-auto mb-2" style="width: 50px;">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                <path class="u-fill-warning" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                  C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                  c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                  C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"></path>
                            </svg>
                        </figure>
                        <!-- End SVG Quote -->

                        <h2 class="text-white font-weight-medium">客户故事</h2>
                    </div>
                    <!-- End Title -->

                    <!-- Slick Carousel - Testimonials Main Nav -->
                    <div id="testimonialsNavMain" class="js-slick-carousel u-slick text-center w-lg-75 mx-lg-auto mb-7" data-pagi-classes="position-absolute position-absolute-bottom-0 text-center u-slick__pagination u-slick__pagination--white" data-adaptive-height="true" data-infinite="true" data-fade="true">
                        <div class="js-slide mb-7">
                            <!-- Testimonials -->
                            <blockquote class="lead u-text-light text-lh-md">
                                小红书APP是一个分享生活的平台，在这里可以发现有趣好玩的世界，找到有意思的明星达人。使用衣享的商品识别、智能定位，可以高效的打通小红书的UGC内容与商城商品信息，从而进一步提升小红书社交属性与电商属性的融合。
                            </blockquote>
                            <!-- End Testimonials -->
                        </div>

                        <div class="js-slide mb-7">
                            <!-- Testimonials -->
                            <blockquote class="lead u-text-light text-lh-md">
                                衣二三是一款创新的女性时装月租App应用，主打包月租衣的服务。使用衣享的Auto-Tagging自动标注技术，可以在新款商品上架时一键生成所有的属性信息与营销文案，从而实现高效率与便捷式的运营与管理。
                            </blockquote>
                            <!-- End Testimonials -->
                        </div>

                        <div class="js-slide mb-7">
                            <!-- Testimonials -->
                            <blockquote class="lead u-text-light text-lh-md">
                                京东是中国的综合网络零售商，中国电子商务领域受消费者欢迎和最有影响力的电子商务网站之一，2018年京东推出了JD（x）聚力发展时尚零售品类。使用衣享的个性化推荐与智能搭配技术，推出的“拍立搭”与跨品类“猜你喜欢”的功能，从而进一步提升用户的购衣体验。
                            </blockquote>
                            <!-- End Testimonials -->
                        </div>

                        <div class="js-slide mb-7">
                            <!-- Testimonials -->
                            <blockquote class="lead u-text-light text-lh-md">
                                海澜集团是国内著名的高级时尚男装品牌。衣享基于“个性化橱窗”、“智能试衣镜”等智能硬件，帮助海澜之家快速实现线下门店数字化与智能化升级改造，为线下零售带来新的商机与活力。
                            </blockquote>
                            <!-- End Testimonials -->
                        </div>

                        <div class="js-slide mb-7">
                            <!-- Testimonials -->
                            <blockquote class="lead u-text-light text-lh-md">
                                ModeSens是全球购物网站搜索门户官网。借助衣享的拍照购物技术，ModeSens将原本基于关键词的检索与基于用户上传图片的检索形式相结合，方便用户在100多家知名电商平台、200多个国际时尚品牌与上百万件SKU中，快速检索到心仪的商品。
                            </blockquote>
                            <!-- End Testimonials -->
                        </div>
                    </div>
                    <!-- End Slick Carousel - Testimonials Main Nav -->
                </div>
            </div>
        </div>
        <!-- End Testimonials -->

        <!-- Clients Section -->
        <div class="container u-space-2">
            <div class="js-slick-carousel u-slick" data-autoplay="true" data-speed="5000" data-infinite="true" data-slides-show="6" data-responsive='[{
             "breakpoint": 1200,
             "settings": {
               "slidesToShow": 4
             }
           }, {
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 4
             }
           }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 3
             }
           }, {
             "breakpoint": 576,
             "settings": {
               "slidesToShow": 3
             }
           }, {
             "breakpoint": 480,
             "settings": {
               "slidesToShow": 2
             }
           }]'>
                <div class="js-slide">
                    <img class="u-clients" src="static/picture/jd.svg" alt="Image Description">
                </div>
                <div class="js-slide">
                    <img class="u-clients" src="static/picture/secoo.svg" alt="Image Description">
                </div>
                <div class="js-slide">
                    <img class="u-clients" src="static/picture/hla.svg" alt="Image Description">
                </div>
                <div class="js-slide">
                    <img class="u-clients" src="static/picture/modesens.svg" alt="Image Description">
                </div>
                <div class="js-slide">
                    <img class="u-clients" src="static/picture/xhs.svg" alt="Image Description">
                </div>
                <div class="js-slide">
                    <img class="u-clients" src="static/picture/farfetch.svg" alt="Image Description">
                </div>
                <div class="js-slide">
                    <img class="u-clients" src="static/picture/shopstyle.svg" alt="Image Description">
                </div>
            </div>
        </div>
        <!-- End Clients Section -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- Go to Top -->
    <a class="js-go-to u-go-to" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
        <span class="fa fa-arrow-up u-go-to__inner"></span>
    </a>
    <!-- End Go to Top -->

    <!-- SVG Shape -->
    <figure class="w-100">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1924 72" style="margin-bottom: -8px; enable-background:new 0 0 1924 72;" xml:space="preserve">
            <path class="u-fill-dark" d="M962,0C507,1.5,0,72,0,72h962h962C1924,72,1417,1.5,962,0z"></path>
        </svg>
    </figure>
    <!-- End SVG Shape -->

    <!-- ========== FOOTER ========== -->
    <footer class="bg-dark">
        <div class="container u-space-3">
            <div class="row justify-content-lg-between">
                <div class="col-lg-4 d-flex align-items-start flex-column mb-7 mb-lg-0">
                    <!-- Logo -->
                    <a class="d-inline-block mb-lg-auto mb-3" href="#" aria-label="Front">
                        <img src="static/picture/logo-white.png" alt="Logo" style="width: 60px;">
                    </a>
                    <!-- End Logo -->

                
                </div>

                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <!-- Title -->
                    <h3 class="h6 u-text-light">
                        <strong>网站导航</strong>
                    </h3>
                    <!-- End Title -->

                    <!-- List -->
                    <ul class="list-unstyled u-list u-list--light">
                        <li><a class="u-list__link" href="">首页</a></li>
                        <li><a class="u-list__link" href="demo.html">功能演示</a></li>
                        <li><a class="u-list__link" href="news.html">新闻中心</a></li>
                        <li><a class="u-list__link" href="about-us.html">关于我们</a></li>
                    </ul>
                    <!-- End List -->
                </div>

                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <!-- Title -->
                    <h3 class="h6 u-text-light">
                        <strong>了解更多</strong>
                    </h3>
                    <!-- End Title -->

                    <!-- List -->
                    <ul class="list-unstyled u-list u-list--light">
                        <li><a class="u-list__link" href="https://infimind.com">极睿科技</a></li>
                        <li><a class="u-list__link" href="https://console.衣享.com">开放平台</a></li>
                        <li><a class="u-list__link" href="https://developer.衣享.com/docs">开发者资源</a></li>
                    </ul>
                    <!-- End List -->
                </div>

                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <!-- Title -->
                    <h3 class="h6 u-text-light">
                        <strong>联系我们</strong>
                    </h3>
                    <!-- End Title -->

                    <!-- Contacts -->
                    <address class="u-list--light mb-0">
                        <a class="u-list__link" href="#">商务: 13605159903</a>
                        <a class="u-list__link" href="mailto:hr@infimind.com">求职: hr@infimind.com</a>
                        <a class="u-list__link" href="mailto:pr@infimind.com">媒体: pr@infimind.com</a>
                    </address>
                    <!-- End Contacts -->
                </div>

                <div class="col-sm-4 col-lg-2">
                    <!-- Title -->
                    <h3 class="h6 u-text-light">
                        <strong>办公地址</strong>
                    </h3>
                    <!-- End Title -->

                    <!-- Address -->
                    <address class="u-list--light mb-0">
                        <li class="u-list__link">北京市朝阳区华彩大厦701</li>
                        <a class="u-list__link" target="_blank" href="https://j.map.baidu.com/2e/xM6">查看地图</a>
                    </address>
                    <!-- End Address -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->



    <script src="static/js/jquery.min.js"></script>

    <script src="static/js/jquery-migrate.min.js"></script>

    <script src="static/js/bootstrap.min.js"></script>


    <script src="static/js/hs.megamenu.js"></script>


    <script src="static/js/slick.js"></script>


    <script src="static/js/hs.core.js"></script>


    <script src="static/js/hs.header.js"></script>


    <script src="static/js/hs.show-animation.js"></script>


    <script src="static/js/hs.go-to.js"></script>


    <script src="static/js/hs.slick-carousel.js"></script>


    <!-- JS Plugins Init. -->
    <script>
        $(window).on('load', function() {
            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 767,
                hideTimeOut: 0
            });
        });

        $(document).on('ready', function() {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
        });

        function navToTrail() {
            let href = `https://jinshuju.net/f/WaGw3d?x_field_1=${encodeURIComponent(window.location.href)}`
            window.location.href = href
        }
    </script>
	<div style="display:none;"><a href="https://smalltool.github.io/">一键仿站工具</a></div>
</body>

</html>